{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        {% for row in pay_period %}
        <tr>
            <td>{{ row['date'] }}</td>
            <td>{{ row['time_in'] }}</td>
            <td>{{ row['time_out'] }}</td>
            <td>{{ row['hours'] | f_format }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><b>Hours</b></td>
            <td><b>Rate</b></td>
            <td><b>Pay</b></td>
        </tr>
        <tr>
            <td></td>
            <td>{{ total_hours | f_format }}</td>
            <td>{{ rate | usd }}</td>
            <td>{{ pay | usd }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}